<% layout("/layouts/boilerplate") -%>
<body>
    <div class="row">
    <div class="col-8 offset-3">    
    <h3 class="mt-4"><%= listing.title %></h3>
    </div>

    <div class="card col-6 offset-3 listing-card">
    <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image">
    <div class="card-body">
        <p class="card-text"><i>Owned by <%= listing.owner.username %></i></p>
        <p class="card-text"><%= listing.description %></p>
        <p class="card-text"><%= listing.category %></p>
        <p class="card-text">&#x20B9;<%= listing.price.toLocaleString("en-IN") %></p>
        <p class="card-text"><%= listing.location %></p>
        <p class="card-text"><%= listing.country %></p>
    </div>
    </div>
    
    <% if(currUser && listing.owner._id.equals(currUser._id)){ %>
    <div class="row">
        <div class="col-1 offset-3">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark add-btn">Edit</a>
        </div>
        
        <div class="col-1">
            <form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
                <button class="btn btn-dark">Delete</button>
            </form>
        </div>
    </div>
    <% } %>

    <div class="col-6 offset-3 mt-3">
        <hr>
        <h4 class="mt-3 offset-5">Book Now</h4>
        <form action="/listings/<%= listing._id %>/book" method="POST" class="needs-validation" novalidate>

            <div class="mb-3 mt-3">
                <label for="in" class="form-label">Check In</label>
                <input type="date" id="in" name="checkIn" required class="form-control col-6">

                <div class="invalid-feedback">CheckIn is required</div>
            </div>

            <div class="mb-3 mt-3">
                <label for="out" class="form-label">Check Out</label>
                <input type="date" id="out" name="checkOut" class="form-control col-6" required>
                <div class="invalid-feedback">CheckOut is required</div>
            </div>

            <div class="mb-3 mt-3">
                <label for="guest" class="form-label">Guests</label>
                <input type="number" id="guest" name="guests" class="form-control col-6" min="1" value="1">
                <div class="invalid-feedback">Guests number is required</div>
            </div>

            <button class="btn btn-danger">
                Reserve
            </button>

        </form>
    </div>

    <div class="col-6 offset-3">
        <% if(currUser){ %>
        <hr>
        <h4 class="mt-3">Leave a review</h4>
        <form method="post" action="/listings/<%= listing._id %>/reviews" class="needs-validation" novalidate>
            <div class="mt-3 mb-3">
            <label for="rating" class="form-label">Rating</label>
            <fieldset class="starability-slot">
            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
            </div>

            <div class="mt-3 mb-3">
                <label for="comment" class="form-label">Comment</label>
                <textarea rows="4" class="form-control" cols="40" name="review[comment]" placeholder="write your comment" id="comment" required></textarea>

                <div class="valid-feedback">Valid Comment</div>
                <div class="invalid-feedback">Comment is required</div>
            </div>
            <br>
            <button class="btn btn-outline-primary">Submit</button>
        </form>
        <% } %>

        <hr>
        <% if(listing.reviews.length > 0) { %>
        <div class="row">
            <p><b>All reviews</b></p>
            <% for(review of listing.reviews){ %>
                <div class="card col-5 ms-3 mb-3">
                    <div class="card-body">
                        <div class="card-title"><b>@<%= review.author.username %></b></div>
                        <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>
                        <div class="card-text"><%= review.comment %></div>
                    </div>

                    <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="post" class="mb-3 mt-3">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </div>
            <% } %>
        </div>
        <% } %>
    </div>


    </div>
</body>
